{% extends 'base.html' %}


{% block content %}
<br>
<div class="container-md text-center">
    <div class="row g-4">
        <div class="col-4 border bg-light text-center">
            <p class="h4">{{ horse.name }}</p>
            <p>Breed: {{ horse.breed }}</p>       
            {% if horse.age > 0 %}
            <p>Age: {{ horse.age }}</p>            
            {% else %}
            <p>Age: Foal</p>
            {% endif %}
            <p>Description: {{ horse.description }}</p>
            <div>
                <a class="btn btn-info" href="{% url 'horses_update' horse.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'horses_delete' horse.id %}">Delete</a>
            </div>
        </div>
        <div class="col-4">
            <form action="{% url 'add_feeding' horse.id %}" method="post">
                {% csrf_token %}
                {{ feeding_form.as_p }}
                <input type="submit" class="btn btn-outline-secondary btn-sm" value="Add Feeding">
              </form>
            <table class="table table-striped">
              <thead>
                <tr><th>Date</th><th>Meal</th></tr>
              </thead>
              <tbody>
                {% for feeding in horse.feeding_set.all %}
                  <tr>
                    <td>{{feeding.date}}</td>
                    <td>{{feeding.get_meal_display}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>    
    </div>
    <hr>
    <div class="row">
    <div class="col s6">
        <h3>{{ horse.name }}'s Toys</h3>
        {% if horse.toys.count %}
        {% for toy in horse.toys.all %}
            <div class="card">
            <div class="card-content">
                <span class="card-title">
                A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
                </span>
            </div>
            </div>
        {% endfor %}
        {% else %}
        <h5>No Toys :(</h5>
        {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
        <h3>Available Toys</h3>
        {% if toys.count %}
          {% for toy in toys.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'assoc_toy' horse.id toy.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn">Add</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h5>{{horse.name}} Already Has All Toys Available</h5>
        {% endif %}
      </div>
    </div>
</div>

{% endblock content %}
    