{% extends 'base.html' %}


{% block content %}
    <h1>Horse List</h1>


{% for horse in horses %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ horse.name }}</span>
        <p>Breed: {{ horse.breed }}</p>
        <p>Description: {{ horse.description }}</p>

        
        {% if horse.age > 0 %}
            <p>Age: {{ horse.age }}</p>            
        {% else %}
            <p>Age: Foal</p>
        {% endif %}
            
    </div>
</div>
{% endfor %}
    



{% endblock content %}
    