{% extends 'base.html' %}


{% block content %}
<h1 id="index_header">Horse List</h1>

<div class="container-md">
    <div class="row g-4">
    {% for horse in horses %}
        <div class="col-4 border bg-light text-center">
        <a href="{% url 'detail' horse.id %}">  
            <p class="h4">{{ horse.name }}</p>
        </a>
            <p>Breed: {{ horse.breed }}</p>       
            {% if horse.age > 0 %}
            <p>Age: {{ horse.age }}</p>            
            {% else %}
            <p>Age: Foal</p>
            {% endif %}
            <p>Description: {{ horse.description }}</p>
        </div>    
    {% endfor %}
    </div>
</div>
    



{% endblock content %}
    